/* BODY STYLES */

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color: #434455;
    background-color: #ffffff;
}



/* HEADER STYLES */

.page-header {
    color: #2E2F42;
}

.logo-half-word {
    color: #4D5AE5;
}


/* HERO STYLES */

.hero {
    background-color: #2E2F42;
}

.hero-title {
    color: #FFFFFF;
}

.hero-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
}


/* ADVANTAGES */

.advantages-list-title {
    color: #2E2F42;
}

